    html {
    background: linear-gradient(#615dad, #ffc8da);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding:0;
    }
    .MyClass img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    }
   h1 {
    color: #ffffff;
    background-color: #283e50;
    text-align: center;
    font-family: Lobster;
    font-size: 200%;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
   p {
    background-color: #283e50;
    color: #ffffff;
    text-align: center;
    font-family: Helvetica;
    font-size: 100%;
    padding: 15px;
   }
    #button1 {
    background-color: #1fcca4;
    color: #ffffff;
    position: relative;
    width: 100%;
    display: inline-block;
    font-family: Helvetica;
    text-decoration: none;
   }
   #button1:hover {
    background-color: #1cbb96;

   }
    #button2 {
    background-color: #0197f6;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    font-family: Helvetica;
    text-decoration: none;

    }
    #button2:hover {
        background-color: #0090e9;
    }
    body {
    background-color: #283e50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
    margin: 50px auto;
    max-width: 770px;
    }
    .button-container {
    width: 100%;
    background: #283e50;
    overflow-y: auto;
    text-align: center;
    line-height: 50px;
    }
    .Pravidla {
    color: #ffffff;
    max-width: 700px;
    padding: 30px;
    }
    .Pravidla li {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    }
    .Pravidla p {
    font-style: italic;
    margin-top: -10px;
    }
    .Pravidla img .grid-container{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .Pravidla img {
    width: auto;

    }
    .kolecko {
    max-width: 12px;
    max-height: 12px;
    filter: invert();
    }
    .krizek {
    max-width: 12px;
    max-height: 12px;
    filter: invert();
    }
    @media screen and (min-width: 700px){
        .Pravidla img {
            width: 95%;
        }
        .grid-container {
        display: grid;
        grid-template-columns: fit-content(50%) fit-content(50%) 1fr;
        text-align: center;
        }
        .item1 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
        }
        .item2 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 1;
        }
        .item3 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        .item4 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        .item5 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        .item6 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 3;
        }
    }
    @media screen and (max-width: 699px){
        .Pravidla .grid-container img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }