    html {
    background: linear-gradient(#615dad, #ffc8da);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }
    .MyClass img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    }
   h1 {
    color: #ffffff;
    background-color: #283e50;
    text-align: center;
    font-family: Lobster;
    font-size: 200%;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
   .hra h1 {
    color: #ffffff;
    text-align: center;
    font-family: Lobster;
    background-color: transparent;
   }
   p {
    background-color: #283e50;
    color: #ffffff;
    text-align: center;
    font-family: Helvetica;
    font-size: 100%;
    padding: 15px;
   }
   .hra p {
    color: #ffffff;
    text-align: left;
    font-family: Helvetica;
    font-size: 100%;
    padding: 15px;
    background-color: transparent;
    text-transform: uppercase;
    display: inline;
    float: left;
    padding: 5px;
    font-size: 3vh;
   }
    #button1 {
    background-color: #1fcca4;
    color: #ffffff;
    position: relative;
    width: 100%;
    display: inline-block;
    font-family: Helvetica;
    text-decoration: none;
   }
   #button1:hover {
    background-color: #1cbb96;

   }
    #button2 {
    background-color: #0197f6;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    font-family: Helvetica;
    text-decoration: none;

    }
    #button2:hover {
    background-color: #0090e9;
    }
    .wrapper {
    background-color: #283e50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
    margin: 50px auto;
    max-width: 770px;
    }
    .wrapper1 {
    width: 50%;
    margin: 50px auto;
    max-width: 770px;
    }
    .button-container {
    width: 100%;
    background: #283e50;
    overflow-y: auto;
    text-align: center;
    line-height: 50px;
    }
    .button3 {
        background-color: #1fcca4;
        color: transparent;
        text-decoration: none;
        text-align: center;
        float: right;
        border-radius: 5px;
        padding: 5px;
        margin-top: 2.5em;
    }
    .button4 {
        background-color: #0197f6;
        color: transparent;
        text-decoration: none;
        float: right;
        border-radius: 5px;
        margin-left: 5px;
        padding: 5px;
        margin-top: 2.5em;
        margin-right: 8.7vw;
    }
    .Pravidla {
    color: #ffffff;
    max-width: 700px;
    padding: 30px;
    }
    .Pravidla li {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    }
    .Pravidla p {
    font-style: italic;
    margin-top: -10px;
    }
    .Pravidla img .grid-container{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .Pravidla img {
    width: auto;

    }
    .kolecko {
    max-width: 12px;
    max-height: 12px;
    filter: invert();
    }
    .kolecko1 {
    filter: invert();
    width: auto;
    }
    .krizek {
    max-width: 12px;
    max-height: 12px;
    filter: invert();
    }
    .Mezera {
    margin-bottom: 400px;
    }
    .mrizka {
    margin-top: 20px;
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(10, 4vw);
    grid-template-rows: repeat(10, 4vw);
    -webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
    }
    .pokus {
        box-sizing: border-box;
    }
    button {
        border: 1px solid;
    }
    .mrizka button{
        background-color: transparent;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border: 1px solid;
    }
    .mrizka button:hover {
        background-color: #ffc8da;
        filter: brightness(95%);
    }
    .hra .kolecko1 {
        vertical-align: text-top;
    }
    #hraje {
        margin-top: 1.7em;
    }
    .hra #hraje .kolecko1 {
    filter: invert();
    height: 1em;
    width: auto;
    }
    .hra #hraje .krizek1 {
        filter: invert();
        height: 1em;
        width: auto;
    }

    .mrizka .krizek {
        filter: invert();
        width: auto;
        max-width: none;
        max-height: none;
    }
    .mrizka .kolecko1 {
        filter: invert();
        width: auto;
        max-width: none;
        max-height: none;
        height:none !important;
    }
    .Full {
    pointer-events: none;
    }
    @media screen and (min-width: 700px){
        .Pravidla img {
            width: 95%;
        }
        .grid-container {
        display: grid;
        grid-template-columns: fit-content(50%) fit-content(50%) 1fr;
        text-align: center;
        }
        .item1 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
        }
        .item2 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 1;
        }
        .item3 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        .item4 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        .item5 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        .item6 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 3;
        }
    }
    @media screen and (max-width: 699px){
        .Pravidla .grid-container img {
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 699px){
        .wrapper1 {
            width: 80vw;
        }
        .mrizka {
            display: grid;
            margin-left: auto;
            margin-right: auto;
            width: 80vw;
            display: grid;
            grid-template-columns: repeat(10, 8vw);
            grid-template-rows: repeat(10, 8vw);
        }
        .mrizka .zona {
        }
        .pokus {
        }
        .hra p {
            margin-top: 1.7em;
        }
        .hra #hraje .kolecko1 {
            filter: invert();
            height: 1em;
            width: auto;
            }
        .hra #hraje .krizek1 {
            filter: invert();
            height: 1em;
            width: auto;
            }
        .mrizka .krizek {
            filter: invert();
            width: auto;
            max-width: none;
            max-height: none;
            height: 1em !important;
            }
        .mrizka .kolecko1 {
            filter: invert();
            width: auto;
            max-width: none;
            max-height: none;
            height: 1em !important;
        }
    }